__pycache__/
*.pyc

.venv/
venv/

.env

data/raw/
data/processed/
data/full/
datasets/

outputs/*
!outputs/README.md

runs/
checkpoints/
weights/

*.pt
*.pth
*.onnx
*.h5
*.ckpt

*.zip
*.rar
*.7z
*.tar

.DS_Store
.idea/
.vscode/
